In [14]:
import pandas as pd
import pd.dataframe as df

ModuleNotFoundError: No module named 'pd'

In [4]:
member = pd.read_csv('member.csv')
department = pd.read_csv('department.csv')

In [5]:
print(member)
print(department)

   id        name  department_id  base_salary
0   1      tanaka              3           20
1   2      yamada              1           21
2   3        sato              2           24
3   4      kodama              2           20
4   5      honami              3           19
5   6  matsushima              2           28
6   7        kato              1           26
   id     name  value
0   1      dev      2
1   2      ops      4
2   3  factory      1

In [6]:
joined = member.merge(department, left_on='department_id', right_on='id', how='left')

In [7]:
print(joined)

   id_x      name_x  department_id  base_salary  id_y   name_y  value
0     1      tanaka              3           20     3  factory      1
1     2      yamada              1           21     1      dev      2
2     3        sato              2           24     2      ops      4
3     4      kodama              2           20     2      ops      4
4     5      honami              3           19     3  factory      1
5     6  matsushima              2           28     2      ops      4
6     7        kato              1           26     1      dev      2

In [8]:
joined['fixed_salary'] = joined['base_salary'] * (1 + joined['value'] / 10)

In [9]:
print(joined)
print(joined['fixed_salary'])

   id_x      name_x  department_id  base_salary  id_y   name_y  value  \
0     1      tanaka              3           20     3  factory      1
1     2      yamada              1           21     1      dev      2
2     3        sato              2           24     2      ops      4
3     4      kodama              2           20     2      ops      4
4     5      honami              3           19     3  factory      1
5     6  matsushima              2           28     2      ops      4
6     7        kato              1           26     1      dev      2

   fixed_salary
0          22.0
1          25.2
2          33.6
3          28.0
4          20.9
5          39.2
6          31.2
0    22.0
1    25.2
2    33.6
3    28.0
4    20.9
5    39.2
6    31.2
Name: fixed_salary, dtype: float64

In [32]:
joined[joined.name_x == 'tanaka']['base_salary'].values[0]
joined.

20